@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
  --font: "Pacifico";
  --bg-color: #f5e9cf;
  --dark-green: #7db9b6;
  --light-green: #6097b488;
  --dark-purple: #4d455d;
  --light-purple: #4d455dc0;
  --red: #e96479;
  --light-btn: #d9d9d9;
  --dark-text: #000;
  --light-text: #e1eeddcf;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: var(--font);
  background-color: var(--bg-color);
}
.container {
  width: 60%;
  margin: auto;
}
.container * {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  margin: auto;
}
input, button, .box-item{
    line-height: 60px;
}
button {
  font-family: var(--font);
  font-size: 1rem;
  text-align: center;
  height: 60px;
  border: none;
}
.delete,
.add {
  min-width: 80px;
}
.delete {
  background-color: var(--red);
}
.add {
  background-color: var(--dark-green);
}
.actions {
  display: flex;
  /* justify-content: space-between; */
}
.action {
  min-width: 150px;
  background-color: var(--light-btn);
}
input {
  height: 60px;
  min-width: 250px;
  background-color: var(--light-green);
  border: none;
}
.box-item {
  background-color: var(--dark-purple);
  height: 60px;
  min-width: 250px;
}
