@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root{
    --font: 'Pacifico';
    --dark-green: #7DB9B6;
    --light-green: #6097b488;
    --dark-purple: #4D455D;
    --light-purple: #4d455dc0;
    --red: #E96479;
    --light-btn: #D9D9D9;
    --dark-text: #000;
    --light-text: #e1eeddcf;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: var(--font);
}
button{
    font-family: var(--font);
}